<div class="container">
  <% @s.each do |a| %>
    <article class="box media">
      <div class="meida-content">
        <div class="content">
          <p><strong>Name:</strong> <%= a.name %><br>
          <strong>ID:</strong> <%= a.id %>
          </p>
          <form action="del" method="post" id="delete" hidden>
            <input type="hidden" name="id" value=<%= a.id %>>
          </form>
          <p style="white-space:pre-wrap; word-wrap:break-word;"><%= a.text %></p>
        </div>
      <nav class="level">
        <div class="level-right">
          <button class="button is-small" type="submit" value=<%= a.id %> form="delete"><span class="has-text-danger fas fa-trash"></span></button>
        </div>
      </nav>
      </div>

    </article>
  <% end %>

    <article class="box media">
      <div class="media-content">
        <form class="field" method="post" action="/message">
          <p class="label">Name:</p>
          <input class="input" type="text" name="name" size="20" maxlength="20" value="ななし">
          <p class="label">Contents:</p>
          <textarea class="textarea"  name="text" cols="50" rows="3" maxlength="150"></textarea>
          <br>
          <input class="button is-link" type="submit" value="Post">
          <input class="button is-link-light" type="reset" value="Reset">
        </form>
      </div>
    </article>
</div>
